<nav class="navbar navbar-default navbar-fixed-top">
    <a class="nav-item ml-auto" href="/">Home</a>
    <form class="nav-item mr-auto" id="form1" data-validation="true" action="/api/upload" method="post" enctype="multipart/form-data">
        <label class="nav-upload" for="nav-upload">Upload
            <input type="file" name="uploadFile" id="nav-upload" accept=".pdf" class="image-input" hidden />
        </label>
    </form>
</nav>