<nav>
    <a href="/">Home</a>
    <form id="form1" data-validation="true" action="/api/upload" method="post" enctype="multipart/form-data">
        <label class="nav-upload" for="nav-upload">Upload
            <input type="file" name="uploadFile" id="nav-upload" accept=".pdf" class="image-input" hidden />
        </label>
    </form>
</nav>