.dragarea{
    position:relative;
  }
  
  .sign{
  width: 100%;
  height: 100%;
  }
  .draggable{
    position: absolute;
    top: 100px;
  }
  
  
  #downloadbtn,#savebtn{
    display: none;
  }
  .align-item-center {
    display: flex;
    padding: 5px;
    justify-content: center;
  }
  .btn{
    margin: 3px;
  }
  /* for sign border */
  /* .signdoc{position: relative;} */
  .tright,.tleft,.tmiddle,.bright,.bleft,.bmidlle,.ylm,.yrm{
    border:2px solid #2873ff;
    min-width:15px ;min-height:15px;
    max-width:15px;max-height:15px;
    position:absolute;
    background:#ffffff;
    border-radius:50%;
    display:none;
  }
  .signdoc:hover{ border:2px solid #2873ff;}
  .signdoc:hover .tright{
    display:block;
   
  }
  .signdoc:hover .yrm{
    display:block;
  }
  .signdoc:hover .ylm{
    display:block;
  }
  .signdoc:hover .tmiddle{
    display:block;
  }
  .signdoc:hover .bright{
    display:block;
  }
  .signdoc:hover .bmidlle{
    display:block;
  }
  .signdoc:hover .bleft
  {
    display:block;
  }
  .signdoc:hover .tleft
  {
    display:block;
  }
  
  
  .tright{
    top:-7px;
    right:-7px;
  }.tmiddle{
    top:-9px;
    right:47%;
  }.tleft{
    top:-7px;
    left:-7px;
  }.ylm{
    top:45%;
    left:-9px;
  }
  .yrm{
    top:45%;
    right:-9px;
  }
  .bright{
    bottom:-7px;
    right:-7px;
  }
  .bmidlle{
    bottom:-9px;
    right:47%;
  }
  .bleft{
    bottom:-7px;
    left:-7px;
  }
  
  .active-sign{
  
    border: 2px solid rgb(110, 152, 241);
  }
  .active-sign .tright{
    display:block;
   
  }
  .active-sign .yrm{
    display:block;
  }
  .active-sign .ylm{
    display:block;
  }
  .active-sign .tmiddle{
    display:block;
  }
  .active-sign .bright{
    display:block;
  }
  .active-sign .bmidlle{
    display:block;
  }
  .active-sign .bleft
  {
    display:block;
  }
  .active-sign .tleft
  {
    display:block;
  }
  .fa-trash,.signdoc:hover .fa-trash{
    display:none;
  }
  .active-sign i.fa.fa-trash {
    display: block;
    position: absolute;
    top: -26px;
    right: -30px;
    font-size: 143%;
    font-size: 18px;
    cursor: pointer;
    background: #ffffff;
    padding: 6px 8px;
    border: 2px solid #eae9e9;
    border-radius: 5px;
}