  
 div [id*="holder-page"]{
  position: relative;
  }
  #sign{
    position: absolute;
    top:0%;
    left:0;
    z-index: 3;
  }
  #exampleModalLabel{
    font-size: small;
  }
  #sign-close{
   font-size:8px;
  }
  #sign-modal{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-top: 20%;
  }
  #downloadbtn, #savebtn,#signbutton {
    font-size: 14px;
}
  #downloadbtn a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
  }
  .btn-success {
    color: #fff;
    background-color: #18bf71;
    border-color: #18bf71;
  }
  .wrapper {
      position: relative;
      width: 400px;
      height: 200px;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .clr {
      position: absolute;
      bottom: 12px;
      right: 13px;
  }
  .clr a{
  text-decoration: none;
  color: gray;
  font-size: 9px;
  }
    .signature-pad {
      position: absolute;
    left: 0;
    border: 1px solid #cac0c0;
    border-radius: 5px;
    top: 0;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.932);
  
    }
   div [id*="holder-page-"]{
    position: relative;
    }
    #downloadbtn a{
      text-decoration: none;
      color: aliceblue;
      font-size: 1.3rem;
    }
    /* .modal.fade .modal-dialog {
      transition: transform .3s ease-out;
      transform: translate(0,-50px);
      position: absolute;
      top: 25%;
      left: 33%;
  } */