.wrapper {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0px 0.21px 4px 0.5px;

  }
  /* img:hover{
    border: 1px solid rgb(59, 119, 231);

  } */
 div [id*="holder-page-1"]{
  position: relative;
  }
  #sign{
    position: absolute;
    top:0%;
    left:0;
    /* border:1px solid; */
    z-index: 3;
  }
  #downloadbtn a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
  }