<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<body>
    <div class="container upload-container">
      
        <div class="panel panel-light " id="panelX">
          <div class="panel-heading " id="panel-heading">
              <span>
                   Upload your document
              </span>                 
            <button type="button" class="close text-dark" data-target="panelX" data-dismiss="panel"> 
                <span class="text-dark" id="close" aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
          </div>
          <div class="panel-body" id="panel-body">
             <div class="item-wrapper">
    <div class="item">
        <form id="form" data-validation="true" action="/api/upload" method="post" enctype="multipart/form-data">
                <div class="item-content">
                    <div class="upload-area">
                        <div class="upload-text">
                            <p>Drag and drop your file here</p>
                            <p class="mt-10 mb-70">Or</p>
                        </div>
                        <label style="cursor: pointer" for="uploadFile" class="btn btn-success btn-lg" id="upload-btn">
                            <img src="" alt="" class="uploaded-image" />
                            Upload
                            <!--upload-content-->
                        </label>
                        <input type="file" name="uploadFile" id="uploadFile" accept=".pdf" class="image-input" />
                   
                </div>
            </div>
        </form>
    </div>
    <!--item-->
    <p id="file-info">This file should be only in pdf format and the size should not exceed 12MB</p>
        </div> 
          </div>
          <div class="panel-footer bg-light footer">
            <br><br>
          </div>
        </div>
      </div>
        

</body>
<script>
    const dropArea = document.querySelector('.upload-area')
    dropArea.ondragover = dropArea.ondragenter = (e) => {
        console.log("in over and enter")
        e.preventDefault();
    }
    dropArea.ondrop = (evt) => {
        console.log(evt.dataTransfer)
        var fileInput = document.getElementById("uploadFile");
        fileInput.file = undefined;
        fileInput.files = evt.dataTransfer.files;
        console.log(fileInput.files)

        var re = /(?:\.([^.]+))?$/;
        var ext=fileInput.files[0].name.match(re)[1];
        console.log(ext[0])
        if (fileInput.files[0].size < 12582912) {
            console.log(fileInput.files[0].name)

            if(ext=='pdf'){
                document.getElementById("form").submit();
                fileInput.files = null;
            }else{
            Swal.fire(`You are try to upload ${ext}`, "Please provide a pdf file", "error");

            }
        }
        else {
            Swal.fire("Size Exceeded", "please provide less than 12MB file", "error");
            this.value = "";
        }
        evt.preventDefault();

    }
    var uploadField = document.getElementById("uploadFile");
    uploadField.onchange = function () {
        var re = /(?:\.([^.]+))?$/;
        var ext=this.files[0].name.match(re)[1];
        console.log(this.files[0].size)
        if (this.files[0].size <12582912) {
            if(ext=='pdf'){

                document.getElementById("form").submit();
                fileInput.files = null;
            }else{
            Swal.fire(`You are try to upload ${ext}`, "Please provide a pdf file;", "error");

            }
        }
        else {
            Swal.fire("Size Exceeded", "please provide less than 12MB file;", "error");
            this.value = "";
        }
    };
</script>